
#define LASER_ACTIVE_SENSE D5
#define LASER_FAN_SENSE D6

const char* MQTT_HOST = "mqtt.yourdomain";

const char* MQTT_TOPIC_OPERATION = "project/laser/operation";
const char* MQTT_TOPIC_DURATION = "project/laser/duration";
const char* MQTT_TOPIC_FINISHED = "project/laser/finished";
const char* MQTT_TOPIC_POWERED = "project/laser/powered";

const char* WIFI_HOSTNAME = "ESP-Lasertracker";
const char* WIFI_SSID = "";
const char* WIFI_PASSWORD = "";

const char* OTA_PASSWORD = "";

String LASERTRACKER_HOST = "lasertracker.yourdomain";
